.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    &.is-active {
        display: flex;
    }
}

.modal-background {
    background-color: #0c0c0caa;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

.modal-card {
    margin: 0 20px;
    position: relative;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: auto;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (max-width: 767px) {
        max-width: calc(100vh - 20px);
    }
}

.modal-close-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: absolute;
    top: 15px;
    right: 15px;
    vertical-align: top;
    width: 20px;

    &:before {
        background-color: white;
        content: "\00d7";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
        height: 2px;
        width: 50%;
    }

    &:after {
        background-color: white;
        content: "\00d7";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        transform-origin: center center;
        height: 2px;
        width: 50%;
    }

}

.modal-card-body {
    background-color: #002230 !important;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
}

.modal-card {

    max-width: calc(100vh - 60px);
    max-height: calc(100vh - 100px);

    @media (min-width: 768px) {
        max-width: 100%;
        max-height: calc(100vh - 100px);
        width: 750px;
    }

    .modal-close-button {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

dl {
    padding: 0.5em;
    display: grid;
    grid-template-columns: max-content auto;
}
dt {
    grid-column: 1;
    text-align: right;
}
dt::after {
    content: " —";
}
dd {
    padding-left: .4em;
    grid-column: 2;
}
.sql-docs-button {
    width: 100%;
    height: 35px;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    align-content: center;
    text-align: center;
    background-color: #d2d2d2;
    padding: 5px;
    
    @media (prefers-color-scheme: dark) {
        background-color: hsl(var(--primary-hue) var(--primary-saturation) 30% / 0.1);
    }

    &:hover {
        background-color: #fcfcfc;

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--primary-hue) var(--primary-saturation) 70% / 0.1);
        }

        cursor: pointer;
    }

    .sql-docs-button-content {
        height: 100%;
        display: flex;
        justify-content: center;

        .button-logo {
            max-height: 95%;
            margin: 0;
            margin-right: .75rem;
            width: auto;
            height: 40px;
        }
        .sql-docs-button-text {
            align-items: center;
            display: flex;
        }
    }
}

.sql-editor-button {
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    background-color: hsl(var(--primary-hue) var(--primary-saturation) 15% / 0.1);
    position: relative;
    display: block;

    @media (prefers-color-scheme: dark) {
        background-color: hsl(var(--primary-hue) var(--primary-saturation) 77% / 0.1);
    }

    &:hover {
        background-color: #fcfcfc;

        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--primary-hue) var(--primary-saturation) 60% / 0.1);
        }
        cursor: pointer;
    }
}

.sql-code-box {
    position: relative;
    margin-bottom: 1rem;
}

.sql-code-code {
    pre {
        margin-bottom: 0px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.query-results-box {
    height: 400px;
    align-content: center;
    text-align: center;
    overflow-y: scroll;
}

.result-table-wrapper {
    height: calc(100% - 35px);
    overflow-x: scroll;
}

.result-table {
    font-size: .8rem;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    overflow: visible;
}

.result-statistics {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
}

.hidden {
    display: none !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: #002230;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
bottom: 120%;
left: 50%;
margin-left: -60px;
}

.tooltip .tooltiptext.tooltip-right {
    bottom: unset;
    left: 150%;
    margin-left: 0;
    top: -2px;
    content: "";
}
    
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.divider-primary {
    height: 3px;
    border-radius: 50px;
    background: #fb773e;
    width: 250px;

    &.is-centered {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.result-wrapper {
    height: 100%;
    position: relative;
}

.result-statistics {
    font-size: .8rem;
    margin-top: 5px;
}

.result-statistics-entry {
    display: inline-block;
    width: 20%;
}

@keyframes progressAnimation {
    from {
        background-position: 200% 0;
      }
      to {
        background-position: -200% 0;
      }
}

.progress {
  animation: progressAnimation 1.5s;
  animation-iteration-count: infinite;
  
  background-image: linear-gradient(to right, #fb773e 30%, rgb(0, 0, 0, 0) 30%);

  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150% 150%;

  height: 1.25rem;
  
  border-radius: 9999px;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.ace_editor {
    border-radius: 5px;
}
