{{$releasenotes := .Site.Data.releasenotes}}
{{ range $index, $element := (sort (sort $releasenotes "date" "desc") "Foundational" "desc") }}
{{ if or (and (eq 0 $index) (eq ($.Get "current") "true")) (and (ne 0 $index) (ne ($.Get "current") "true")) }}
    <h4>
        {{ $element.version }}
        <span class="absolute -mt-20" id="{{ $element.version }}"></span>
        <a href="#{{ $element.version }}" class="subheading-anchor" aria-label="Permalink for this section"></a>
    </h4>
    <i>{{ time.Format "2 Jan 2006" (time.AsTime $element.date) }}</i>
    {{ if $element.breaksdb }}
    <div class="overflow-x-auto mt-6 flex rounded-lg border py-2 ltr:pr-4 rtl:pl-4 contrast-more:border-current contrast-more:dark:border-current border-yellow-100 bg-yellow-50 text-yellow-900 dark:border-yellow-200/30 dark:bg-yellow-700/30 dark:text-yellow-200">
        <div class="ltr:pl-3 ltr:pr-2 rtl:pr-3 rtl:pl-2"><div class="select-none text-xl" style="font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">
              ⚠️
            </div></div>
        <div class="w-full min-w-0 leading-7">
          <div class="mt-6 leading-7 first:mt-0">
            <b>This release is incompatible with previous CedarDB database formats!</b><br>
            Please refer to the <a href={{"../database_upgrade"}}>database upgrade guide</a> for more information.
          </div>
        </div>
      </div>
    {{ end }}
    <ul>
        {{ range $note := $element.notes }}
        <li>{{ $note | safeHTML }} </li>
        {{ end }}
    </ul>
{{ end }}
{{ end }}
