{{$releasenotes := .Site.Data.releasenotes}}
{{ range $index, $element := (sort (sort $releasenotes "date" "desc") "Foundational" "desc") }}
{{ if or (and (eq 0 $index) (eq ($.Get "current") "true")) (and (ne 0 $index) (ne ($.Get "current") "true")) }}
    <h4>
        {{ $element.version }}
        <span class="hx:absolute hx:-mt-20" id="{{ $element.version }}"></span>
        <a href="#{{ $element.version }}" class="hx:subheading-anchor" aria-label="Permalink for this section"></a>
    </h4>
    <i>{{ time.Format "2 Jan 2006" (time.AsTime $element.date) }}</i>
    {{ if $element.breaksdb }}
    <div class="hx:overflow-x-auto hx:mt-6 hx:flex hx:rounded-lg hx:border hx:py-2 hx:ltr:pr-4 hx:rtl:pl-4 hx:contrast-more:border-current hx:contrast-more:dark:border-current hx:border-yellow-100 hx:bg-yellow-50 hx:text-yellow-900 hx:dark:border-yellow-200/30 hx:dark:bg-yellow-700/30 hx:dark:text-yellow-200">
        <div class="hx:ltr:pl-3 hx:ltr:pr-2 hx:rtl:pr-3 hx:rtl:pl-2"><div class="hx:select-none hx:text-xl" style="font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">
              ⚠️
            </div></div>
        <div class="hx:w-full hx:min-w-0 hx:leading-7">
          <div class="hx:mt-6 hx:leading-7 hx:first:mt-0">
            <b>This release is incompatible with previous CedarDB database formats!</b><br>
            Please refer to the <a href={{"../database_upgrade"}}>database upgrade guide</a> for more information.
          </div>
        </div>
      </div>
    {{ end }}
    {{ $typeOrder := slice "feat" "perf" "pg" "fix" }}
    {{ $typeLabel := dict "feat" "New Features" "perf" "Performance" "pg" "PostgreSQL Compatibility" "fix" "Maintenance" }}
    {{ range $type := $typeOrder }}
      {{ $notes := slice }}
      {{ range $note := $element.notes }}
        {{ if eq $note.type $type }}
          {{ $notes = $notes | append $note.note }}
        {{ end }}
      {{ end }}
      {{ if $notes }}
      <p><b>{{ index $typeLabel $type }}</b></p>
      <ul>
        {{ range $notes }}
        <li>{{ . | safeHTML }}</li>
        {{ end }}
      </ul>
      {{ end }}
    {{ end }}
    {{ range $note := $element.notes }}
      {{ if not (index $typeLabel $note.type) }}
      <p style="color:red;"><b>Unknown type "{{ $note.type }}":</b> {{ $note.note | safeHTML }}</p>
      {{ end }}
    {{ end }}
{{ end }}
{{ end }}
