Interested in getting the Docker image? <a class="js-modal-trigger button" data-target="modal-waitlist" href="#">Join our waitlist</a> and be among the first to get access to CedarDB!
<div id="modal-waitlist" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card p-1">
        <div class="modal-card-body p-6 has-background-color-secondary is-rounded-small">
            <div class="title has-text-left mb-6" style="font-size: 2rem; color: white; margin-bottom: 10px;">Join our Waitlist</div>
            <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "eu1",
                portalId: "144471709",
                formId: "c5f94c66-c246-42c3-805f-a641a68cc7c0",
              });
            </script>
            <button class="delete is-right modal-close-button" aria-label="close"></button>
        </div>
    </div>
</div>
