Interested in running CedarDB? <a class="js-modal-trigger button" data-target="modal-waitlist" href="#">Join our waitlist</a> and be among the first to get access to CedarDB!
<div id="modal-waitlist" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card hx:p-1">
        <div class="modal-card-body hx:p-6 hx:has-background-color-secondary hx:is-rounded-small">
            <div class="hx:title hx:has-text-left hx:mb-6" style="font-size: 2rem; color: white; margin-bottom: 10px;">Join our Waitlist</div>
            <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "eu1",
                portalId: "144471709",
                formId: "c5f94c66-c246-42c3-805f-a641a68cc7c0",
              });
            </script>
            <button class="hx:delete hx:is-right modal-close-button" aria-label="close"></button>
        </div>
    </div>
</div>
